.linkItem {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin-right: 1px;
}

.listItem {
  width: 250px;
  padding: 10px;
  border: 2px solid #0c4879;
  border-radius: 15px;
  background-color: rgba(20, 116, 195, 0.7);
}

.listItem:not(:last-child) {
  margin-right: 20px;
}

.titleItem {
  min-height: 120px;
  margin: 0;
  font-size: 40px;
}

.tempItem {
  margin: 0;
  font-size: 32px;
}

.dateItem {
  font-size: 20px;
}

.button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.itemBtnUpdate {
  composes: button;
  background-image: url(../../img/icon/refresh.png);
  background-size: 70%;
  margin-right: 4px;
}

.itemBtnDelete {
  composes: button;
  background-image: url(../../img/icon/delete.png);
  background-size: 70%;
}

.itemBtnDelete:hover {
  background-color: #ec6e4c;
}

.itemBtnUpdate:hover {
  background-color: #ec6e4c;
}
